body {
    background-color: black;
}

.topnav {
    margin: 0;
    color: white;
    width: 100%;
    list-style: none;
    font-size: 1.5em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.name {
    padding: 20px;
    text-align: center;
    color: white;        
    font-family:'Sacramento',cursive !important;
    font-weight:lighter;
    font-size: 3em     
}

/* .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
} */

/* .footer_image {
    width: 50%;
    margin: 0px auto;
}

img {
    width: 100%;
} */


.footer {
    border: 10px solid silver;
    width: 100%;
    position: fixed;
    bottom: 0;
}