@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap');

.container {
    border: 10px red solid;
}
.topnav {
    /* border: 10px yellow solid; */
    text-align: center;
    background-color: #40b0bd;
}
.topnav a {
    padding: 35px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.90em;
    font-weight: bold;
    text-decoration: none;
}

#plane_gif {
    height: 200px;
    width: 200px;
    vertical-align: middle;
}

.name {
    font-family: 'Sacramento', cursive;
    font-size: 5em;
    color: white;
    font-weight: normal;
}

.intro {
    /* border: 10px green solid; */
    background-color: #40b0bd;
}

.plain_name {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    /* border: 5px dotted purple; */
}

.about-me {
    margin-top: 30px;
    /* border: 5px green solid; */
}

.profile {
    margin: 0px auto;
    /* border: 5px orange solid; */
    width: 50%;
    padding: 15px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
